<article class="media">
  <div class="media-content">
    <div class="content">
      <h4>{{ person.fullname }}</h4>
      <p>
      {{ person.pronouns }}
      </p>
      <h5>{{ person.affiliation }}</h5>
      <p>
      {{ person.bio }}
      {% if person.website %}
        <a class="tag" href="{{ person.website }}">Website</a>
      {% endif %}
      {% if person.twitter != nil %}
        <a class="tag" href="{{ person.twitter }}">Twitter</a>
      {% endif %}
      </p>
    </div>
  </div>
  <figure class="media-right">
    <p class="image is-128x128">
      <img src="{{ person.photo }}">
    </p>
  </figure>
</article>
