<article class="media">
  <div class="media-content">
    <div class="columns is-7 is-variable">
      <div class="column">
        <figure class="image is-128x128">
          <img src="{{ person.photo }}">
        </figure>
      </div>
      <div class="column is-three-fifths content">
        <div class="content">
          <p>
          <b>{{ person.fullname }}</b>
          {{ person.bio }}
          {% if person.website %}
            <a class="tag" href="{{ person.website }}">Website</a>
          {% endif %}
          {% if person.twitter %}
            <a class="tag" href="{{ person.twitter }}">Twitter</a>
          {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
