<footer class="footer">
  <div class="content has-text-centered is-size-7">
    {% capture content %}{% include footer.md %}{% endcapture %}
    {{ content | markdownify }}
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
      <i class="fab fa-creative-commons fa-{{ include.icon-size }}" aria-hidden="true"></i>
      <i class="fab fa-creative-commons-by fa-{{ include.icon-size }}" aria-hidden="true"></i>
      <i class="fab fa-creative-commons-nc fa-{{ include.icon-size }}" aria-hidden="true"></i>
      <i class="fab fa-creative-commons-sa fa-{{ include.icon-size }}" aria-hidden="true"></i>
    </a>
    Creative Commons License <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
  </div>
</footer>
