<article class="media">
	<div class="media-content">
		<div class="content">
		<p>
    <b><em>{{ item.title }}</em></b>. 
		{% for author in item.authors %}
      {% if forloop.last == true %}
				{{ author }}
      {% else %}
				{{ author }}, 
      {% endif %}
		{% endfor %}
    {% if item.pdf %}
      <a class="tag" href="{{ site.url }}/assets/pdf/mlprojects22/{{ item.pdf }}">PDF</a>
    {% endif %}
    {% if item.link %}
      <a class="tag" href="{{ item.link }}">Slides online</a>
    {% endif %}
		</p>
		</div>
	</div>
</article>
