<div class="hero-head">
  <nav class="navbar container" role=navigation>
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>{{ site.title }}</strong>
      </a>
	    <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-main">
  		  <span aria-hidden="true"></span>
    		<span aria-hidden="true"></span>
    		<span aria-hidden="true"></span>
  	  </div>
    </div>
    <div id="navbar-main" class="navbar-menu">
      <div class="navbar-start">
        {% for item in site.data.navigation_mlprojects %}
          <a class="navbar-item" href="{{ item.link }}" {% if page.url == item.link %}class="is-dark"{% endif %}>
            {{ item.name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</div>
