<article class="media">
  <div class="media-content">
    <div class="columns is-7 is-variable">
      <div class="column">
        <figure class="image is-3by2">
          <img src="/assets/images/{{ project.image }}">
        </figure>
      </div>
      <div class="column is-three-fifths content">
        <div class="content">
          <p>
          <b>{{ project.title }}</b>
          {{ project.excerpt }}
          <a href="{{ project.url }}"><em>Read more</em></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
