<article class="media">
	<div class="media-content">
		<div class="content">
		<p>
		<em>{{ item.title }}</em>. 
		{% for author in item.authors %}
      {{ author }}{% if forloop.last == false %}, {% else %}.{% endif %}
		{% endfor %}
		{{ item.journal }}.
		{{ item.year }}.
		{% if item.misc %}
      <b>{{ item.misc }}</b>
		{% endif %}
    {% if item.tags %}
      {% for tag in item.tags %}
        {% if tag.link %}
          <a class="tag" href="{{ tag.link }}">{{ tag.tag }}</a>
        {% else %}
          <span class="tag">{{ tag.tag }}</span>
        {% endif %}
      {% endfor %}
		{% endif %}
		</p>
		</div>
	</div>
</article>
