<article class="media">
	<div class="media-content">
		<div class="content">
		{% assign oa-fee = "" %}	
		{% assign reg-fee = "" %}	
		{% for fee in item.fees %}
			{% if fee.type == 'open-access' %}
				{% assign oa-fee = " (" | append: fee.fee | append: " " | append: fee.currency | append: ") " %}	
			{% endif %}
			{% if fee.type == 'registration' %}
				{% assign reg-fee = "Registration fee: " | append: fee.fee | append: " " | append: fee.currency %}	
			{% endif %}
		{% endfor %}
		<p>
    <b>{{ item.name }}</b> - {{ item.fullname }}
    <br>
    <div class="tags">
			<span class="tag">{{ item.type }}</span>
			{% if item.open-access==true %}
			<span class="tag is-success">Open Access</span>
			{% else %}
				{% if item.open-access contains 'author-pays' %}
				<span class="tag is-danger">Author-pays Open Access{{ oa-fee }}</span>
				{% elsif item.open-access contains 'author-version' %}
				<span class="tag is-warning">Author-version Open Access</span>
				{% endif %}
			{% endif %}
			{% if item.not-for-profit==true %}
			<span class="tag is-success">Not-for-profit</span>
			{% elsif item.not-for-profit==false %}
			<span class="tag is-danger">For-profit</span>
			{% endif %}
			{% if item.publisher %}
			<span class="tag">Publisher: {{ item.publisher }}</span> 
			{% endif %}
			{% if item.organizer %}
			<span class="tag">Organiser: {{ item.organizer }}</span> 
			{% endif %}
			{% if reg-fee != "" %}
				<span class="tag is-warning">{{ reg-fee }}</span>
			{% endif %}
			<span class="tag">Scope: {{ item.topics | join: ", " }}</span> 
		</div>
    <div class="tags">
			{% if item.website %}
			<a class="tag is-link" href="{{ item.website }}">Website</a> 
			{% endif %}
			{% if item.twitter %}
			<a class="tag is-link" href="{{ item.twitter }}">Twitter</a> 
			{% endif %}
			{% if item.wikipedia %}
			<a class="tag is-link" href="{{ item.wikipedia }}">Wikipedia</a> 
			{% endif %}
		</div>
    <!-- Temporarily out
		<em>{{ item.title }}</em>. 
		{% for author in item.authors %}
		{% if author == site.title %}
		<b>{{ author }}</b>, 	
		{% else %}
		{{ author }}, 
		{% endif %}
		{% endfor %}
		{{ item.year }}.
		{{ item.journal }}
		{% if item.twitter %}
    <a class="tag" href="{{ item.twitter }}">Twitter</a> 
		{% endif %}
		<a class="tag" href="{{ item.link }}">paper</a>
    -->
		</p>
		</div>
	</div>
</article>
