---
layout: page
title: Publication venues in machine learning and related fields
redirect_from:
  - /publication-venues-ml.html
  - /publication-venues-ml
---
The following list is a non-exhaustive collection of publication venues (conferences and journals) in machine learning and related fields, such as computer vision and medical imaging. The list is partly based on the comments to this <a href="https://twitter.com/roydanroy/status/1324039176610873347">Twitter thread by Daniel Roy</a>. The ordering approximately matches _my_ notion of relevance and popularity, plus I listed for-profit and non-open-access organisations lower.<br>
<br>
{% assign venues = site.data.ml-venues | sort: 'sort' %}
{% for item in venues %}
  {% include publication-venue.html %}
{% endfor %}
