---
layout: page
title: Publication venues in neuroscience
redirect_from:
  - /publication-venues-neuro.html
  - /publication-venues-neuro
---
The following list is a non-exhaustive collection of dissemination venues (conferences and journals) in neuroscience. I will populate this list slowly. Suggestions and contributions are very welcome! The ordering of the list is quite arbitrary, approximately matching my notion of relevance and popularity, plus I listed for-profit and non-open-access organisations lower.<br>
<br>
{% assign venues = site.data.neuro-venues | sort: 'sort' %}
{% for item in venues %}
  {% include publication-venue.html %}
{% endfor %}
